body {  
    background-color: aquamarine;
    padding: 20px;
}

.grid-container {
    display: grid;
    align-items: center;
    justify-content: center; 
}

.calculator-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1px;
} 

.calculator-grid button {
    font-size: 25px;
    border: none;
    cursor: pointer;
} 

textarea {
    grid-column: span 4;
    font-size: 25px;
    text-align: end;
    padding: 15px;
    border: none;
}

